<template>
    <v-card width="90%" class="mx-auto my-3">
    <v-card-title>
      RWANDA CODING ACADEMY CATHOLICS
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-account-search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="desserts"
      :search="search"
    ></v-data-table>
    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-card>
</template>
<script>
import axios from 'axios'
export default {
    data () {
      return {
        search: '',
        overlay: false,
        headers: [
          { text: 'First Name', align: 'left', sortable: false, value: 'first_name'},
          { text: 'Last Name', value: 'last_name' },
          { text: 'Gender', value: 'gender' },
          { text: 'Level', value: 'level' },
          { text: 'Class', value: 'class' },
          { text: 'Email', value: 'email' },
        ],
        desserts: [ ],
      }
    },
  watch: {
    overlay (val) {
      val && setTimeout(() => {
        this.overlay = false
        this.finish();
        this.$router.push("services")
      }, 3000)
    }
  },
  created(){
    setInterval(this.getAllCatholics, 1000)
  },
    async mounted(){
        this.getAllCatholics()
    },
    methods:{
      async getAllCatholics(){
        let data = await axios.get( this.url+"/api/rca-catholics",
        {
          headers: { "x-auth-token": `${localStorage.usertoken}` }
        });
        this.desserts = data.data
      }
    }
}
</script>