<template>
  <div>
    <v-row>
      <v-col cols="3">
        <v-card class="data" @click="toAllCatholics">
          <v-card-title class="bg-primary text-white">Rca Catholic Members</v-card-title>
          <v-card-text class="numberit text-right">{{ cathNo }}</v-card-text>
        </v-card>
      </v-col>
      <v-col cols="3">
        <v-card class="data">
          <v-card-title class="bg-info text-white">Projects</v-card-title>
          <v-card-text class="numberit text-right">0</v-card-text>
        </v-card>
      </v-col>
      <v-col cols="3">
        <v-card class="data">
          <v-card-title class="bg-success text-white">Notes</v-card-title>
          <v-card-text class="numberit text-right">0</v-card-text>
        </v-card>
      </v-col>
      <v-col cols="3">
        <v-card class="data">
          <v-card-title class="bg-warning text-white">Tasks</v-card-title>
          <v-card-text class="numberit text-right">10</v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      overlay: false,
      token: "Hello",
      cathNo: 0
    };
  },
  async created(){
      setInterval(this.loadAllCatholics, 1000)
  },
  watch: {
    overlay (val) {
      val && setTimeout(() => {
        this.overlay = false
        this.finish();
        this.$router.push("services")
      }, 3000)
    }
  },
  async mounted() {
    this.$Progress.start()
    this.overlay = true
    let profile = await axios.get(
      this.url+"/api/accounts/profile",
      {
        headers: { "x-auth-token": `${localStorage.usertoken}` }
      }
    );
    if (!profile.data._id){
          this.$router.push("/login");
        }

          this.$Progress.finish()
          this.overlay = false
  },
  methods: {
    toAllCatholics() {
      this.$router.push("/all-catholics");
    },
    async loadAllCatholics() {
        let allCatholicsNo = await axios.get( this.url+"/api/rca-catholics/no/1",
        {
          headers: { "x-auth-token": `${localStorage.usertoken}` }
        }
      );
      if (allCatholicsNo) this.cathNo = allCatholicsNo.data;
      else this.cathNo = "Undefined";
    }
  }
};
</script>
<style scoped>
.data {
  width: 85%;
  margin: 40px auto;
  cursor: pointer;
}
.data * {
  font-weight: 700 !important;
}
.numberit {
  font-size: 30px !important;
  font-weight: 400 !important;
  padding: 20px 40px;
}
</style>