<template>
  <div class="text-center">
    <!-- <v-btn
      color="deep-purple accent-4"
      class="white--text"
      @click="btnClicked"
    >
      Launch Application
      
    </v-btn> -->
    <div class="body">
      <h1 class="intro-h1 text-center">
        Welcome to the smdps system
      </h1>

        <div class="text-center">
          <v-btn class='my-btn' rounded color="primary" dark>Rounded Button</v-btn>
        </div>
    </div>

    
    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>
<script>
  export default {
    data: () => ({
      overlay: false
    }),

    watch: {
      overlay (val) {
        val && setTimeout(() => {
          this.overlay = false
        }, 3000)
      }
    },
    methods:{
      btnClicked(){
        this.overlay = !this.overlay
        this.start();
      },
      start () {
          this.$Progress.start()
      },
      set (num) {
          this.$Progress.set(num)
      },
      increase (num) {
          this.$Progress.increase(num)
      },
      decrease (num) {
          this.$Progress.decrease(num)
      },
      finish () {
          this.$Progress.finish()
      },
      fail () {
          this.$Progress.fail()
      },
      // test(){
      //   this.$Progress.start()

      //   this.$http.jsonp('http://api.rottentomatoes.com/api/public/v1.0/lists/movies/in_theaters.json?apikey=7waqfqbprs7pajbz28mqf6vz')
      //   .then((response) => {
      //       this.$Progress.finish()
      //   }, (response) => {
      //       this.$Progress.fail()
      //   })
      // }
    }
  }
</script>
<style scoped>
  .intro-h1
  {
    font-size: 60px;
    color: grey;
    width: 80%;
    margin: 250px auto 50px;
  }
  .my-btn
  {
    outline: none;
  }
</style>