<template>
  <v-app>
    <router-view/>
    <vue-progress-bar></vue-progress-bar>
  </v-app>
</template>

<script>

export default {
  name: 'App',


  data() {
    return {
      
    }
  },

  components: {
    
  },

  methods:{
    
  }
  
};
</script>
<style>
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
  *
  {
    font-family: 'Open Sans',sans-serif;
  }
  v-btn
  {
    outline: none;
    width: 300px;
  }
</style>